.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts a {
    color: var(--color-text);
    text-decoration: none;
}

.subreddit-posts a {
    color: white;
}

.posts .post-box {
    display: flex;
    justify-content: center;
    width: 40%;
}

.subreddit-posts {
    margin-top: 20px;
    width: 40%;
    height: 4.4rem;
    display: flex;
    align-items: center;
}

.subreddit-posts b {
    display: flex;
    justify-content: center;
}

.subreddit-posts a {
    height: 2.5rem;
    width: 300%;
    padding-top: 0.8rem;
    background-color: rgb(255, 69, 0);
    color: white;
    text-align: center;
    border: 1px solid var(--color-post-border);
    border-radius: 3px;
    text-decoration: none;
    font-size: 1.2rem;
}

.subreddit-posts a:hover {
    background-color: rgb(221, 60, 2);
}

.subreddit-posts a:active {
    background-color: rgb(190, 52, 2);
}

@media only screen and (max-width: 1180px) {
    .posts .post-box, .subreddit-posts {
        width: 80%;
    }
}

@media only screen and (max-width: 680px) {
    .posts .post-box {
        width: 100%;
    }

    .subreddit-posts a {
        font-size: 1rem;
        padding-bottom: 0.5rem;
    }

    .subreddit-posts b {
        flex-direction: column;
    }

    .subreddit-posts {
        margin: 0;
        height: 3rem;
        width: 110%;
    }

    .separator-posts {
        display: none;
    }
}