.posts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts a {
    color: var(--color-text);
    text-decoration: none;
    width: 40%;
    display: flex;
    justify-content: center;
}

.subreddit {
    margin-top: 20px;
    width: 40%;
    height: 70px;
    display: flex;
    align-items: center;
}

.subreddit a{
    height: 40px;
    width: 300%;
    padding-top: 10px;
    background-color: rgb(255, 69, 0);
    color: white;
    text-align: center;
    border: 1px solid var(--color-post-border);
    border-radius: 3px;
    text-decoration: none;
    font-size: 1.2rem;
}

.subreddit a:hover {
    background-color: rgb(221, 60, 2);
}

.subreddit a:active {
    background-color: rgb(190, 52, 2);
}