.preview {
    background-color: var(--color-background);
    width: 100%;
    margin: 5px 0;
    border-radius: 3px;
    border: 1px solid var(--color-post-border);
    padding: 0% 5%;
    overflow: hidden;
}

.posts .preview:hover {
    border: 1px solid var(--color-post-border-hover);
}

.preview h3 {
    margin-top: 0;
}

.preview p {
    padding-top: 1%;
    font-size: 0.75rem;
}

.preview .content p {
    font-size: 1rem;
    margin-top: 0;
}

.preview a {
    width: auto;
    margin-top: 15px;
    word-break: break-all;
    color: var(--color-text)
}

.preview .first-row-container {
   width: 100%;
  display: flex;
  align-items: baseline;
}
.preview .first-row-container a{
    color: var(--color-text);
    text-decoration: none;
    font-size: 0.75rem;
 }

 .preview a:hover {
    text-decoration: underline;
 }




