.preview {
    background-color: var(--color-background);
    width: 100%;
    margin: 5px 0;
    border-radius: 3px;
    border: 1px solid var(--color-post-border);
    padding: 0% 5%;
}

.preview h3 {
    margin-top: 0;
}

.preview p {
    padding-top: 1%;
    font-size: 0.75rem;
}

.preview .content p {
    font-size: 1rem;
    margin-top: 0;
}

.preview a {
    width: auto;
    margin-top: 15px;
    word-break: break-all;
    color: var(--color-orange-button);
    text-decoration: underline;
}

.preview blockquote {
    border-left: 6px solid var(--color-post-border);
    padding-left: 6px;
}

.preview a:hover {
    color: rgb(221, 60, 2);
    text-decoration: none;
}

.preview a:active {
    color: rgb(190, 52, 2);
}

.preview a:visited {
    color: rgb(151, 40, 0);
}

.preview .first-row-container {
  width: 100%;
  display: flex;
  align-items: baseline;
}

.preview .first-row-container a{
    color: var(--color-text);
    text-decoration: none;
    font-size: 0.75rem;
 }

 .posts .preview:hover {
    border: 1px solid var(--color-post-border-hover);
}

.posts .preview h3 {
    margin: 0;
}

.posts .preview .link {
    display: flex;
}

.preview .sub:hover {
    text-decoration: underline;
}

.preview figure {
    width: 100%;
    margin: 0;
    max-height: 512px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.preview .gallery-container {
    height: 512px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.preview figure img {
    max-width: 100%;
    max-height: 512px;
}

.preview video {
    max-width: 100%;
    max-height: 512px;
}

.preview .img-hide {
   display: block;
}

.preview .chevron {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    box-shadow: 0 0 2px black;
    position: absolute;
}

.preview .chevron-left {
    background-image: url(../../../public/images/chevron-left.svg);
    left: 0;
}

.preview .chevron-right {
    background-image: url(../../../public/images/chevron-right.svg);
    right: 0
}

.preview .chevron:hover {
    cursor: pointer;
    box-shadow: 0 0 3px black;
}

.preview .chevron:active {
    cursor: pointer;
    box-shadow: 0 0 4px black;
}

.preview .img-counter {
    background-color: rgba(3, 3, 3, 0.5);
    color: white;
    width: 3rem;
    text-align: center;
    border-radius: 20px;
    align-self: start;
    position: absolute;
    right: 1rem;
}

.preview .left-hide {
    margin: auto;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: -110%;
}

.preview .right-hide {
    margin: auto;
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: -110%;
}

.preview .current {
    margin: auto;
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 0%;
    left: 0%;
}

@media only screen and (max-width: 1180px) {
    .posts .preview:hover {
        border: 1px solid var(--color-post-border);
    }

    .preview h3 {
        font-size: 1.3rem;
    }

    .preview .first-row-container a,
    .preview .first-row-container p {
        font-size: .9rem;
     }

     .preview h6 {
        font-size: .8rem;
     }

     .preview .img-counter {
        display: none;
     }

     .preview .dots {
        position: absolute;
        bottom: 0.25rem;
        width: auto;
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
    }
    
     .preview .dot {
        width: 0.25rem;
        height: 0.25rem;
        border-radius: 50%;
        border: 1px solid white;
        z-index: 10;
        margin: 0.25rem;
    }
    
    .preview .dot-selected {
        background-color: white;
    }
    
}

@media only screen and (max-width: 680px) {


    .preview .gallery-container {
        height: 200px;
    }

    .preview h3 {
        font-size: 1.2rem;
    }

    .preview .first-row-container a,
    .preview .first-row-container p {
        font-size: 0.8rem;
    }

    .preview h6 {
        font-size: .7rem;
    }

    .preview .first-row-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 3.5rem;
    }

    .first-row-container p {
        margin-top: 0;
    }

    .separator {
        display: none;
    }

    .preview {
        border-left: 1px solid var(--color-background);
        border-right: 1px solid var(--color-background);
    }

    .posts .preview:hover {
        border-left: 1px solid var(--color-background);
        border-right: 1px solid var(--color-background);
    }

    .preview .chevron-left {
        display: none;
    }
    
    .preview .chevron-right {
        display: none;
    }
}

@keyframes leftSwipeCurrent {
    0% {
        transform: translateX(-100%);
    }

     100% {
        transform: translateX(0%);

    }
}

@keyframes leftSwipeNext {
    0% {
        transform: translateX(-100%);
    }

     100% {
        transform: translateX(0);

    }
}

@keyframes rightSwipeCurrent {
    0% {
        transform: translateX(100%);

    }

     100% {
        transform: translateX(0%);

    }
}

@keyframes rightSwipeNext {
    0% {
        transform: translateX(100%);

    }

     100% {
        transform: translateX(0%);
    }
}