.preview {
    background-color: var(--color-background);
    width: 100%;
    margin: 5px 0 5px 0;
    border-radius: 3px;
    border: 1px solid var(--color-post-border);
    padding: 0% 5%;
    overflow: hidden;
}

.preview p {
    padding-top: 1%;
    font-size: 0.75rem;
}

.preview .content p {
    font-size: 1rem;
    margin-top: 0;
}

.preview a {
    width: 100%;
}



