.loading-posts-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider {
    width: 15%;
    height: 100%;
    left: -15%;
    background: linear-gradient(0.75turn, var(--color-canvas) , var(--color-background) , var(--color-canvas));
    position: relative;
    animation: 1s linear infinite forwards sliding;
}

.s-2 {
    animation-delay: 0.03s;
}

.s-3 {
    animation-delay: 0.05s;
}

.s-4 {
    animation-delay: 0.07s;
}

.s-5 {
    animation-delay: 0.09s;
}

.s-6 {
    animation-delay: 0.11s;
}

.s-7 {
    animation-delay: 0.13s;
}

.s-8 {
    animation-delay: 0.15s;
}

.s-9 {
    animation-delay: 0.17s;
}

.s-10 {
    animation-delay: 0.19s;
}

.loading-posts {
    margin-top: 30px;
    width: 40%;
    height: 400px;
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--color-post-border);
    border-radius: 3px;
}
.row-posts {
    background-color: var(--color-canvas);
    overflow: hidden;
    width: 90%;
}

.title-posts {
    height: 2rem;
}

.content-posts {
    height: 1rem;
}

.footer-posts {
    height: 0.5rem;
}

.content-box-posts {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 1180px) {
    .loading-posts {
        width: 80%;
    }
}

@media only screen and (max-width: 525px) {
    .loading-posts {
        width: 90%;
    }
}

@keyframes sliding {
    0% {
         left: -15%;
    }

    80% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}