.sort {
    width: 40%;
    height: 60px;
    background-color: var(--color-background);
    border: 1px solid var(--color-post-border);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 3px;
}

.sort a {
    width: 100px;
    height: 60%;
    background-color: var(--color-action-button);
    color: var(--color-text);
    border: 1px transparent;
    border-radius: 20px;
    font-style: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.sort a:hover {
    cursor: pointer;
    background-color: var(--color-action-button-hover);
}

.sort a:active {
    background-color: var(--color-action-button-active);
}

.sort .active {
    background-color: rgb(255, 69, 0);
    color: white;
}

.sort .active:hover {
    background-color: rgb(242, 64, 0);
}

.sort .active:active {
    background-color: rgb(197, 53, 1);
}

.first-box {
    margin: 15px 0 15px 0;
}

.second-box {
    margin: 0 0 20px 0;
}